# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
info = ["./Data/Students_info_" + 
        str(i) + ".csv" for i in range(0,10)]
marks = ["./Data/Students_marks_" + 
        str(i) + ".csv" for i in range(0,10)]

data = pd.read_csv(info[0], sep=",")
helper = pd.read_csv(marks[0], sep=",")

for i in range(1,10):
    data = data.append(pd.read_csv(info[i], sep=","), ignore_index=True)
    helper = helper.append(pd.read_csv(marks[i], sep=","), ignore_index=True)
    
data = data.merge(helper)
print("Complete DataFrame length: " + str(len(data)))

Complete DataFrame length: 1000

In [3]:
data.head(102)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
97,97,female,group E,some college,standard,completed,group1,63,72,70
98,98,female,group D,some college,free/reduced,none,group1,58,67,62
99,99,female,group D,bachelor's degree,standard,none,group1,65,67,62
100,100,male,group B,some college,standard,none,group2,79,67,67
101,101,male,group D,bachelor's degree,standard,completed,group2,68,74,74

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [4]:
data.drop("index", axis=1).head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [5]:
print("Complete DataFrame length: " + str(len(data)))

Complete DataFrame length: 1000

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [6]:
data["math score"].describe()

count    1000.00000
mean       66.08900
std        15.16308
min         0.00000
25%        57.00000
50%        66.00000
75%        77.00000
max       100.00000
Name: math score, dtype: float64

In [7]:
data["reading score"].describe()

count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading score, dtype: float64

In [8]:
data["writing score"].describe()

count    1000.000000
mean       68.054000
std        15.195657
min        10.000000
25%        57.750000
50%        69.000000
75%        79.000000
max       100.000000
Name: writing score, dtype: float64

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [9]:
print("Missing values count: " + str(data.isna().sum().sum()))

Missing values count: 0

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [11]:
data["math score"].mean()

66.089

In [12]:
data["reading score"].mean()

69.169

In [13]:
data["writing score"].mean()

68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [14]:
data.groupby("test preparation course")["math score"].mean()

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

In [15]:
data.groupby("test preparation course")["reading score"].mean()

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

In [16]:
data.groupby("test preparation course")["writing score"].mean()

test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [17]:
for i in data.groupby("lunch").groups.keys():
    print(i)

free/reduced
standard

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [18]:
data = data.rename(columns={"parental level of education" : "education", 
                     "test preparation course" : "test preparation"})

data.head()

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [19]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

## 1)

In [20]:
len(data[data["math score"] > passmark]) / 1000

0.85

In [21]:
data[data["math score"] <= passmark].head(1000) # проверка

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
9,9,female,group B,high school,free/reduced,none,group1,38,60,50
11,11,male,group D,associate's degree,standard,none,group1,40,52,43
14,14,female,group A,master's degree,standard,none,group1,50,53,58
...,...,...,...,...,...,...,...,...,...,...
961,961,female,group D,some high school,free/reduced,none,group10,48,54,53
973,973,female,group D,some college,free/reduced,none,group10,49,65,61
980,980,female,group B,high school,free/reduced,none,group10,8,24,23
986,986,female,group C,associate's degree,standard,none,group10,40,59,51
988,988,female,group A,some high school,free/reduced,none,group10,44,45,45

## 2)

In [22]:
len(data[(data["math score"] > passmark) & 
         (data["test preparation"] == "completed")]) / len(data[data["test preparation"] == "completed"])

0.9078212290502793

In [23]:
data[(data["test preparation"] == "completed")].head(1000) # проверка (33/358)

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
1,1,female,group C,some college,standard,completed,group1,69,90,88
6,6,female,group B,some college,standard,completed,group1,88,95,92
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
13,13,male,group A,some college,standard,completed,group1,78,72,70
18,18,male,group C,master's degree,free/reduced,completed,group1,46,42,46
...,...,...,...,...,...,...,...,...,...,...
990,990,male,group E,high school,free/reduced,completed,group10,86,81,75
991,991,female,group B,some high school,standard,completed,group10,65,82,78
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77

## 3)

In [24]:
all_g = len(data[(data.gender == "female") & 
                 (data["test preparation"] == "none")])
cond_g = len(data[(data.gender == "female") & 
                  (data["test preparation"] == "none") & 
                  (data["math score"] <= passmark)])

cond_g / all_g

0.23353293413173654

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [25]:
%time data.groupby("race/ethnicity")["reading score"].mean()

CPU times: user 1.57 ms, sys: 422 µs, total: 1.99 ms
Wall time: 1.62 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [49]:
%time data.groupby("education")["writing score"].min()

CPU times: user 2.24 ms, sys: 503 µs, total: 2.74 ms
Wall time: 2.28 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [50]:
ethnicity = {
    'group A': [],
    'group B': [],
    'group C': [],
    'group D': [],
    'group E': []
}
answer = {} 
%time
for i in range(1000):
    ethnicity[data["race/ethnicity"][i]].append(data["reading score"][i])

for i in ethnicity:
    answer[i] = np.mean(ethnicity[i])
    
display(answer)

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 4.77 µs

{'group A': 64.67415730337079,
 'group B': 67.35263157894737,
 'group C': 69.10344827586206,
 'group D': 70.03053435114504,
 'group E': 73.02857142857142}

In [52]:
answer = {
    "associate's degree": 100,
    "bachelor's degree": 100,
    "high school": 100,
    "master's degree": 100,
    "some college": 100,
    "some high school": 100
} 
%time
for i in range(1000):
    answer[data["education"][i]] = min(data["writing score"][i], answer[data["education"][i]])
    
display(answer)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs

{"associate's degree": 35,
 "bachelor's degree": 38,
 'high school': 15,
 "master's degree": 46,
 'some college': 19,
 'some high school': 10}

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [28]:
pd.pivot_table(data.drop(["index", "race/ethnicity", "lunch", "test preparation", "group"], axis=1),
           index=["education","gender"])

                           math score  reading score  writing score
education          gender
associate's degree female   65.250000      74.120690      74.000000
                   male     70.764151      67.433962      65.405660
bachelor's degree  female   68.349206      77.285714      78.380952
                   male     70.581818      68.090909      67.654545
high school        female   59.351064      68.202128      66.691489
                   male     64.705882      61.480392      58.539216
master's degree    female   66.500000      76.805556      77.638889
                   male     74.826087      73.130435      72.608696
some college       female   65.406780      73.550847      74.050847
                   male     69.009259      64.990741      63.148148
some high school   female   59.296703      69.109890      68.285714
                   male     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [29]:
data["Math_PassStatus"] = data["math score"].apply(lambda x: "F" if x < passmark else "P")
data["Reading_PassStatus"] = data["reading score"].apply(lambda x: "F" if x < passmark else "P")
data["Writing_PassStatus"] = data["writing score"].apply(lambda x: "F" if x < passmark else "P")
data.head()

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,4,male,group C,some college,standard,none,group1,76,78,75,P,P,P

In [30]:
data["Math_PassStatus"].value_counts()

P    865
F    135
Name: Math_PassStatus, dtype: int64

In [31]:
data["Reading_PassStatus"].value_counts()

P    910
F     90
Name: Reading_PassStatus, dtype: int64

In [32]:
data["Writing_PassStatus"].value_counts()

P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [33]:
def check(math_pass, reading_pass, writing_pass):
    return "P" if (math_pass == reading_pass == writing_pass == "P") else "F"

In [34]:
data["OverAll_PassStatus"] = data.apply(lambda x: check(x["Math_PassStatus"], 
                                                        x["Reading_PassStatus"], 
                                                        x["Writing_PassStatus"]), axis = 1)

data["OverAll_PassStatus"].value_counts()

P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [35]:
def GetGrade(average_mark):
    return {
               average_mark < 50: 'F',
         50 <= average_mark < 60: 'E',
         60 <= average_mark < 70: 'D',
         70 <= average_mark < 80: 'C',
         80 <= average_mark < 90: 'B',
         90 <= average_mark : 'A'
    }[True]   

data["Grade"] = data.apply(lambda x: GetGrade(np.mean([x["math score"], 
                                                       x["reading score"], 
                                                       x["writing score"]])), axis = 1)

data["Grade"].value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64